/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define NUM  3
#define GAMING 4

/ {
    macros {
    };

    combos {
        compatible = "zmk,combos";

        space {
            bindings = <&kp SPACE>;
            key-positions = <10 11 12 13>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <10 2 3>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <3 2 1 10>;
            layers = <0>;
        };

        bkspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <13 2>;
            layers = <0>;
        };

        ctrl {
            bindings = <&sk LCTRL>;
            key-positions = <0 13>;
            layers = <0>;
        };

        gui {
            bindings = <&sk LEFT_GUI>;
            key-positions = <0 12>;
            layers = <0>;
        };

        alt {
            bindings = <&sk LEFT_ALT>;
            key-positions = <0 11>;
            layers = <0>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <3 13>;
            layers = <0>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <2 11>;
            layers = <0>;
        };

        shift {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <0 1 2 13>;
            layers = <0>;
        };

        fkey {
            bindings = <&kp F>;
            key-positions = <2 3>;
            layers = <0>;
        };

        gkey {
            bindings = <&kp G>;
            key-positions = <2 1>;
            layers = <0>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T   |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G   |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B   |   |  N  |  M   |  ,  |  .  |  /  |
            //             | GUI | NAV | TAB  |   | SPC | SYM  | ALT |

            bindings = <
 &lt 1 S   &kp T   &kp R  &lt 2 A   &none   &none   &none   &none   &none   &none
 &lt 3 O   &kp I   &kp Y  &lt 4 E   &none   &none   &none   &none   &none   &none
   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none
                   &none    &none   &none   &none   &none   &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Numbers {
            bindings = <
  &none  &kp NUMBER_3  &kp NUMBER_2  &kp NUMBER_1  &trans  &trans  &trans  &trans  &trans  &trans
  &none  &kp NUMBER_6  &kp NUMBER_5  &kp NUMBER_4  &trans  &trans  &trans  &trans  &trans  &trans
 &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
                             &trans        &trans  &trans  &trans  &trans  &trans
            >;
        };

        Symbols_1 {
            bindings = <
 &kp LBRC  &kp LPAR           &kp RPAR   &none  &trans  &trans  &trans  &trans  &trans  &trans
 &kp RBRC  &kp LBKT  &kp RIGHT_BRACKET   &none  &trans  &trans  &trans  &trans  &trans  &trans
   &trans    &trans             &trans   &none  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Symbols_2 {
            bindings = <
  &none   &kp HASH       &kp AT  &kp EXCLAMATION  &trans  &trans  &trans  &trans  &trans  &trans
  &none  &kp CARET  &kp PERCENT       &kp DOLLAR  &trans  &trans  &trans  &trans  &trans  &trans
 &trans     &trans       &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans           &trans  &trans  &trans  &trans  &trans
            >;
        };

        Custom {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                 &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Nav {
            bindings = <
   &kp PAGE_UP  &kp HOME    &kp UP    &kp END  &trans  &trans  &trans  &trans  &trans  &trans
 &kp PAGE_DOWN  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans  &trans  &trans  &trans  &trans
        &trans    &trans    &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
                            &trans     &trans  &trans  &trans  &trans  &trans
            >;
        };

        // This layer is unreachable until "tri layer state" is sorted out.
        // Leaving it here for completeness.
    };
};
